h1 {
    border: 2px ridge black;
    border-radius: 5px;
    background-color: whitesmoke;
}

article {
    border: 2px ridge black;
    border-radius: 15px;
    background-color: ghostwhite;
}

h3 {
    color: white;
    background-color: darkgrey;
}